/* Headings */
h3{
    font-size: 2.2rem !important;
    color: crimson !important;
    text-transform: uppercase;
}

/* Share Buttons */
.facebook{
	background: #4267b2;
    color: white;
    border-radius: 2px !important;
    padding: 5px 5px !important;
    font-size: 15px !important;
    width: 49%;
    margin-bottom: 10px;
}
.facebook:hover{
	background-color: #4267b2;
}

.facebookfinal{
	background: #4267b2;
    color: white;
    border-radius: 2px !important;
    padding: 5px 5px !important;
    font-size: 20px !important;
    width: 49%;
    margin-bottom: 10px;
    height: 60px;
}
.facebookfinal:hover{
	background-color: #4267b2;
}

.whatsapp{
    background: #34af23;
    color: white;
    border-radius: 2px !important;
    padding: 5px 5px !important;
    font-size: 15px !important;
    width: 49%;
    margin-bottom: 10px;
}

.whatsappfinal{
    background: #34af23;
    color: white;
    border-radius: 2px !important;
    padding: 5px 5px !important;
    font-size: 20px !important;
    width: 49%;
    margin-bottom: 10px;
    height: 60px;
}

.whatsapp:hover{
	background-color: #34af23;
}

@media (max-width: 420px){
	.facebook{
		width: 49%;
	}

	.whatsapp{
		width: 49%;
	}

	.facebookfinal{
		width: 100%;
		height: 60px;
	}

	.whatsappfinal{
		width: 100%;
		height: 60px;
	}
}

/* Progress bar style */
.progress_span{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	text-align: center;
	color: white;
}
.progress{
    background-color: #88a1d3 !important;
    margin-bottom: 10px;
}
.progress-bar{
	background-color: #4267b2 !important;
}

/* Joker Style */

.joker, .joker:hover {
    color: #fff;
    background-color: #fc853f;
    width: 100%;
    height: 60px;
    margin: 0 15px;
}

.joker_m{
	background-color: rgba(0,0,0,.85);
}
.joker_modal{
	background-color: transparent !important;
	color: white;
}

/* Background behind image */

.start_image {
    background: #ffffff;
}

/* Title on Game Cover */
.div_for_title {
    background: #35c3f2;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

@media (min-width: 420px) {
    .div_for_title {
        background: #35c3f2;
        padding: 10px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }
}

/* Div for game covers */
.full_width_div {
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px #35c3f2;
}

.full_width_div:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 2px #aaa;
}

.full_width_div:hover .img_class_games {
    transform: scale(1.5);
}

/* Question Image */
.start_image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 400px;
    border-radius: 5px;
}


/* Correct banner */


#wrongslide {
    position: absolute;
    background-color: red;
    padding: 20px 80px;
    font-size: 30px;
    display: none;
    color: white;
    border-bottom: 5px solid #611919;
    border-left: 2px solid #560f0f;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 800;
    width: 280px;
    text-align: center;
}

#correctslide{
    position: absolute;
    background-color: green;
    padding: 20px 80px;
    font-size: 30px;
    display: none;
    color: white;
    border-bottom: 5px solid #0c440c;
    border-left: 2px solid #0e5f0e;
    text-transform: uppercase;
    margin-right: -150px;
    border-radius: 15px;
    font-weight: 800;
    width: 280px;
    text-align: center;
}



@keyframes slide {
    0% {
        right: -260px;
    }

    30% {
        right: 50px;
        /* 200px - 20px */
    }

    50% {
        right: 50px;
        /* 200px - 20px */
    }

    100% {
        right: 360px;
        /* 200px - 20px */
    }

}


/* .sliderholder{
    overflow: hidden;
    position: relative;
} */


/* Animations for Wrong/Correct answers */
@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.blink-1 {
    -webkit-animation: blink-1 .6s both;
    animation: blink-1 .6s both
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal .9s both;
    animation: jello-horizontal .9s both
}

/* Trophy final page */

.trophy{
    width: 317px;
    height: 400px;
    background-image: url(https://trendida.com/images/trophy.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

.trophytext{
    position: absolute;
    bottom: 78px;
    left: 70px;
    text-align: center;
    width: 180px;
}

.trophyfont{
font-size: 22px;
line-height: 0.85;
color: #494747;
font-weight: 800;
}

.trophyinput{
    border-radius: 5px 0px 0px 5px;
    padding: 0 10px;
    height: 45px;
    font-size: 20px;
    background-color: #b0e6f7;
    border: none;
    width: 210px;
    outline-width: 0;
}

.trophybtn{
    height: 45px;
    border: 0;
    padding: 0px 15px;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    background-color: #35c3f2;
    color: white;
    margin-left: -1px;
    margin-top: 1px;
    width: 120px;
}

.trophybtn:focus {
    outline: 0;
}

/* Result page Top title */

.h3top{
    font-weight: 800;
    line-height: 1;
}

.paperttitle{
    padding-top: 100px;
}

.papertext{
    line-height: 1.4;
    margin-left: 10px;
}

.papertop{
    background-image: url(https://trendida.com/images/paper-top.jpg);
    background-repeat: no-repeat;
    height: 149px;
}

.papermid{
    background-image: url(https://trendida.com/images/paper-mid.jpg);
    background-repeat: repeat-y;
}

.paperbot{
    background-image: url(https://trendida.com/images/paper-bottom.jpg);
    background-repeat: no-repeat;
    height: 120px;
}

.paperholder{
    max-width: 380px;
    margin: 0 auto;
}

.footerpad {
    padding-bottom: 15px !important;
    text-align: center;
}
    
label {
    display: block !important;
    margin-bottom: .5rem;
}

#qad{
    padding-top: 100px;
    margin-top: 100px;
}