@import "main.css"; 

body{
	color: black;
    background-color: #ffffff;
}

.h2, h2 {
    font-size: 1.7rem !important;
}

.navbar_for_change{
	border-bottom:1px solid #eee;
}
.li_for_logo_img img{
	height:50px;
}
.a_class_for_item_menu{
	font-weight:bolder;
}
.li_for_header_item{
	margin-left:15px;
	margin-right:15px;
}
.empty_li{
	width:12%;
}
.class_for_hover_effect_menu{
	transition:all 0.1s;
}
.class_for_hover_effect_menu:hover{
	border-bottom:2px solid black;
}
.for_padding_top{
	padding-top:0px;
	margin-top: -5px;
}

.class_for_custom_bootstrap{
	margin-bottom:10px;
}
.img_class_games{
	width:100%;
	object-fit: cover;
	height:200px;
	transition:all .8s ease-in-out;
}

.div_for_image{
	overflow:hidden;
}
.third_part_bottom{
	background:#efefef;
	padding:10px 0;
	margin-left:13px;
}
.footer_part{
	margin-left:13px;
	border-top:1px solid black;
}
.bottom_content_menu_part{
	transition:all 0.1s;
}
.bottom_content_menu_part:hover{
	border-bottom:1px solid black;
}
.a_for_bottom_content_menu:hover{
	color:black;
}
.a_for_bottom_content_menu{
	text-decoration: none!important;
	color:black;
}
.footer_ul{
	list-style-type:none;
}
.footer_ul_li{
	display:inline-block;
	margin-right:15px;
	transition:all .1s;
}
.a_footer_menu{
	color:black;
}
.a_footer_menu:hover{
	text-decoration: none;
	color:black;
	border-bottom:1px solid black;
}
.bottom_desc{
	text-align: center;
	/* padding: 10px 0 0 55px; */
	padding-bottom: 10px;
	color: #222;
	font-size: 12px;
}

.btn_answers:hover{
	color: white;
	background-color: #35c3f2;
}

.a_for_game_page{
	text-decoration:none!important;
}
.quiz_image_div{
	position:relative;
	background:#efefef;
	padding:0px!important;
}
.img_for_quiz{
	width:100%;
	max-width: 360px !important;
	border-radius: 5px;
}
.div_for_title_game{
	padding: 4px;
    color: #fffefe;
    width: 100%;
    background: #359bf2;
    border-radius: 5px;
}
.btn_for_start_quiz{
    width: 50%;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 3px 2px -2px grey;
	background-color: #35c3f2;
	 margin-top: 10px;
}

.btn_for_start_quiz:hover {
    background-color: #304c82;
}

.result_img, .share{
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}
.interesting{
	text-align: right;
	padding: 10px;
    background-color: #fdd252;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.confirmed, .confirmed:hover{
	background-color: #35c3f2;;
	margin: 20px;
	color: white;
	width: 300px;
	text-decoration: none;
}

@media (max-width: 991.98px) {
	.start_image img {
		width: auto;
		height: auto;
		max-width: 520px;
		max-height: 350px;
	}
}

@media (min-width: 991px) {
	.text-md-center {
		text-align: center;
	}

}
@media (min-width: 768px) {
	.start_quiz{
		margin-left: 16.666667%;
		background-color: rgba(241,241,241,.5);
		padding-top: 10px;
		border-radius: 5px;
	}
	.game-custom{
		/*
		min-height: 560px;
		 margin-left: 16.666667%; */
	}

	.result_img, .share{
		padding: 0;
	}
}

/* Mobile */
@media (max-width: 500px){
	.div_for_title_game h1{
		font-size: 20px !important;
		margin-bottom: 0 !important;
	}
	.start_quiz{
		font-size: 15px !important;
		line-height: 140%;
		background-color: rgba(241,241,241,.5);
		padding-top: 5px;

	}
	.footer_ul {
		padding: 0;
		font-size: 13px;
		float: right;
	}
	.footer_part{
		padding:0px !important;
	}

	.footerpad{
		padding-bottom: 15px !important;
	}

	.bottom_desc{
		padding-left:0px !important;
	}
	.game-custom{
		/* min-height: 440px; */
	}
	.quiz_start_title{
		font-size: 18px !important;
		text-align: center;
	}
	.btn_answers{
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
		background-color: #eee;

	}
	.start_image img{
		width: 100%;
	}

	.navbar-brand {
		display: inline-block;
		padding-top: .3125rem;
		padding-bottom: .3125rem;
		text-align: center;
		margin: 0 auto !important;
	}

	.navbar-toggler {
		display: none;
	}

	#navbarnew {
		padding: 0.8rem 1rem !important;
	}

}

.ad728{
	margin: 10px 0;
}

.facebookpad{
	padding: 0 15px;
}



#navbarnew{
	display: none !important;
	background-color: #35c3f2 !important;
    color: white !important;
    border-bottom: 1px solid #2874b7;
	padding: 0.2rem 1rem;
}

.fact-img{
	float: right;
    margin-right: 5px;
    border-radius: 5px;
    background-image: url(https://trendida.com/images/einstein.jpg);
    width: 75px;
    height: 75px;
}

	.game-custom{
		margin-top: 15px;
		margin-bottom: 70px;
	}

.ob_stitle{
	font-size: 18px;
	margin-bottom: 5px;
}

.ob_subtitle{
	font-size: 12px;
    color: #777;
}

/* .CRMB_1.ob-strip-layout .ob-widget-header{
	display: none !important;
}

.GS_1.ob-widget .ob_what {
    top: auto !important;
}

.GS_1.ob-widget .ob-widget-header {
	display: none !important;
} */

.GS_1.ob-ultra-strip-layout .ob-widget-header {
    margin: -10px 0px 12px 0px !important;
}

.limitad{
	max-width: 336px !important;
	min-height: 300px !important;
}

.zeropad{
	padding: 0;
}

.zeromarg{
	margin: 0;
}

.ad-label {
    margin: 10px 0 0px;
    color: #aaa;
    font-size: 10px;
    text-align: right;
}

.fab{
	font-size: 40px;
	vertical-align: inherit;
	margin-right: 5px;
}

.mainh2{
	color: #4267b2;
}

.smokedtext{
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
}

.quiztopad{
	padding-bottom: 20px;
	max-width: 700px !important;
    margin: 0 auto !important;
}

.hideit{
	display: none !important;
}

/* Loader */

.loader {
	position: relative;
	width: 75px;
	height: 100px;
  }
  .loader__bar {
	position: absolute;
	bottom: 0;
	width: 10px;
	height: 50%;
	background: #35c3f2;
	-webkit-transform-origin: center bottom;
			transform-origin: center bottom;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  .loader__bar:nth-child(1) {
	left: 0px;
	-webkit-transform: scale(1, 0.2);
			transform: scale(1, 0.2);
	-webkit-animation: barUp1 4s infinite;
			animation: barUp1 4s infinite;
  }
  .loader__bar:nth-child(2) {
	left: 15px;
	-webkit-transform: scale(1, 0.4);
			transform: scale(1, 0.4);
	-webkit-animation: barUp2 4s infinite;
			animation: barUp2 4s infinite;
  }
  .loader__bar:nth-child(3) {
	left: 30px;
	-webkit-transform: scale(1, 0.6);
			transform: scale(1, 0.6);
	-webkit-animation: barUp3 4s infinite;
			animation: barUp3 4s infinite;
  }
  .loader__bar:nth-child(4) {
	left: 45px;
	-webkit-transform: scale(1, 0.8);
			transform: scale(1, 0.8);
	-webkit-animation: barUp4 4s infinite;
			animation: barUp4 4s infinite;
  }
  .loader__bar:nth-child(5) {
	left: 60px;
	-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
	-webkit-animation: barUp5 4s infinite;
			animation: barUp5 4s infinite;
  }
  .loader__ball {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #35c3f2;
	border-radius: 50%;
	-webkit-animation: ball 4s infinite;
			animation: ball 4s infinite;
  }

  @-webkit-keyframes ball {
	0% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0);
	}
	5% {
	  -webkit-transform: translate(8px, -14px);
			  transform: translate(8px, -14px);
	}
	10% {
	  -webkit-transform: translate(15px, -10px);
			  transform: translate(15px, -10px);
	}
	17% {
	  -webkit-transform: translate(23px, -24px);
			  transform: translate(23px, -24px);
	}
	20% {
	  -webkit-transform: translate(30px, -20px);
			  transform: translate(30px, -20px);
	}
	27% {
	  -webkit-transform: translate(38px, -34px);
			  transform: translate(38px, -34px);
	}
	30% {
	  -webkit-transform: translate(45px, -30px);
			  transform: translate(45px, -30px);
	}
	37% {
	  -webkit-transform: translate(53px, -44px);
			  transform: translate(53px, -44px);
	}
	40% {
	  -webkit-transform: translate(60px, -40px);
			  transform: translate(60px, -40px);
	}
	50% {
	  -webkit-transform: translate(60px, 0);
			  transform: translate(60px, 0);
	}
	57% {
	  -webkit-transform: translate(53px, -14px);
			  transform: translate(53px, -14px);
	}
	60% {
	  -webkit-transform: translate(45px, -10px);
			  transform: translate(45px, -10px);
	}
	67% {
	  -webkit-transform: translate(37px, -24px);
			  transform: translate(37px, -24px);
	}
	70% {
	  -webkit-transform: translate(30px, -20px);
			  transform: translate(30px, -20px);
	}
	77% {
	  -webkit-transform: translate(22px, -34px);
			  transform: translate(22px, -34px);
	}
	80% {
	  -webkit-transform: translate(15px, -30px);
			  transform: translate(15px, -30px);
	}
	87% {
	  -webkit-transform: translate(7px, -44px);
			  transform: translate(7px, -44px);
	}
	90% {
	  -webkit-transform: translate(0, -40px);
			  transform: translate(0, -40px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0);
	}
  }

  @keyframes ball {
	0% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0);
	}
	5% {
	  -webkit-transform: translate(8px, -14px);
			  transform: translate(8px, -14px);
	}
	10% {
	  -webkit-transform: translate(15px, -10px);
			  transform: translate(15px, -10px);
	}
	17% {
	  -webkit-transform: translate(23px, -24px);
			  transform: translate(23px, -24px);
	}
	20% {
	  -webkit-transform: translate(30px, -20px);
			  transform: translate(30px, -20px);
	}
	27% {
	  -webkit-transform: translate(38px, -34px);
			  transform: translate(38px, -34px);
	}
	30% {
	  -webkit-transform: translate(45px, -30px);
			  transform: translate(45px, -30px);
	}
	37% {
	  -webkit-transform: translate(53px, -44px);
			  transform: translate(53px, -44px);
	}
	40% {
	  -webkit-transform: translate(60px, -40px);
			  transform: translate(60px, -40px);
	}
	50% {
	  -webkit-transform: translate(60px, 0);
			  transform: translate(60px, 0);
	}
	57% {
	  -webkit-transform: translate(53px, -14px);
			  transform: translate(53px, -14px);
	}
	60% {
	  -webkit-transform: translate(45px, -10px);
			  transform: translate(45px, -10px);
	}
	67% {
	  -webkit-transform: translate(37px, -24px);
			  transform: translate(37px, -24px);
	}
	70% {
	  -webkit-transform: translate(30px, -20px);
			  transform: translate(30px, -20px);
	}
	77% {
	  -webkit-transform: translate(22px, -34px);
			  transform: translate(22px, -34px);
	}
	80% {
	  -webkit-transform: translate(15px, -30px);
			  transform: translate(15px, -30px);
	}
	87% {
	  -webkit-transform: translate(7px, -44px);
			  transform: translate(7px, -44px);
	}
	90% {
	  -webkit-transform: translate(0, -40px);
			  transform: translate(0, -40px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0);
	}
  }
  @-webkit-keyframes barUp1 {
	0% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	40% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	50% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	90% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	100% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
  }
  @keyframes barUp1 {
	0% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	40% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	50% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	90% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	100% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
  }
  @-webkit-keyframes barUp2 {
	0% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	40% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	50% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	90% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	100% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
  }
  @keyframes barUp2 {
	0% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	40% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	50% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	90% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	100% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
  }
  @-webkit-keyframes barUp3 {
	0% {
	  -webkit-transform: scale(1, 0.6);
			  transform: scale(1, 0.6);
	}
	100% {
	  -webkit-transform: scale(1, 0.6);
			  transform: scale(1, 0.6);
	}
  }
  @keyframes barUp3 {
	0% {
	  -webkit-transform: scale(1, 0.6);
			  transform: scale(1, 0.6);
	}
	100% {
	  -webkit-transform: scale(1, 0.6);
			  transform: scale(1, 0.6);
	}
  }
  @-webkit-keyframes barUp4 {
	0% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	40% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	50% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	90% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	100% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
  }
  @keyframes barUp4 {
	0% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	40% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
	50% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	90% {
	  -webkit-transform: scale(1, 0.4);
			  transform: scale(1, 0.4);
	}
	100% {
	  -webkit-transform: scale(1, 0.8);
			  transform: scale(1, 0.8);
	}
  }
  @-webkit-keyframes barUp5 {
	0% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	40% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	50% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	90% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	100% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
  }
  @keyframes barUp5 {
	0% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	40% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
	50% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	90% {
	  -webkit-transform: scale(1, 0.2);
			  transform: scale(1, 0.2);
	}
	100% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1);
	}
  }


  @keyframes load {
    0%{
        opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
				filter: blur(5px);
				letter-spacing: 3px;
        }
    100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
        }
}

.animate {
	display:flex;
	justify-content: center;
	align-items: center;
	margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
	font-family: Helvetica, sans-serif, Arial;
	animation: load 1.5s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
}

.calctext{
	font-size: 15px;
	margin-top: 5px;
}

/* End Loader */

.quizheaderad{
	display: block;
	margin: 5px 0;
	text-align: center;
}

.lifelines {
	text-align: center;
	background-color: #fdd252;
	padding: 15px 15px 10px 15px;
	border-radius: 5px;
}
